Source: simple-imager-monitor
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@idiap.ch>
Homepage: https://github.com/idiap/simple-imager
Standards-Version: 3.9.8
Build-Depends: python (>= 2.6), python (<< 3), debhelper (>= 9), dh-systemd, dh-python, bash, help2man
XS-Python-Version: 2.6, 2.7

Package: simple-imager-monitor
Architecture: all
Depends: bash, simple-imager-monitor-python2.7 | simple-imager-monitor-python2.6
Description: Simple Imager - Monitoring server utilities and service

Package: simple-imager-monitor-python2
Architecture: all
Depends: python (>= 2.6), python (<< 3), python-argparse, python-daemon, python-flask, python-six
Description: Simple Imager - Monitoring server utilities and service - Python 2.x library

Package: simple-imager-monitor-python2.6
Architecture: all
Depends: python (>= 2.6), python (<< 2.7), simple-imager-monitor-python2
Description: Simple Imager - Monitoring server utilities and service - Python 2.6 packaging

Package: simple-imager-monitor-python2.7
Architecture: all
Depends: python (>= 2.7), python (<< 2.8), simple-imager-monitor-python2
Description: Simple Imager - Monitoring server utilities and service - Python 2.7 packaging


