Source: simple-imager-monitor
Section: admin
Priority: optional
Maintainer: Cédric Dufour <cedric.dufour@idiap.ch>
Homepage: https://github.com/idiap/simple-imager
Build-Depends: python3 (>= 3.4), debhelper (>= 10), dh-systemd, dh-python, bash, help2man
X-Python3-Version: >= 3.4
Standards-Version: 4.1.3

Package: simple-imager-monitor
Architecture: all
Depends: ${misc:Depends}, bash, simple-imager-monitor-python3
Description: Simple Imager - Monitoring server utilities and service

Package: simple-imager-monitor-python3
Architecture: all
Depends: ${misc:Depends}, python3 (>= 3.4), python3-daemon, python3-flask
Conflicts: simple-imager-monitor-python2
Breaks: simple-imager-monitor-python2
Replaces: simple-imager-monitor-python2
Description: Simple Imager - Monitoring server utilities and service - Python 3.x library

