#!/usr/bin/make -f

#export DH_VERBOSE=1
export PACKAGE := $(shell dpkg-parsechangelog | egrep '^Source:' | cut -f 2 -d ' ')
export VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')

# Let's keep our source tree clean
export PYTHONDONTWRITEBYTECODE=1

# Required for 'help2man'
export PYTHONPATH:=.:${PYTHONPATH}
export PATH:=.:${PATH}

%:
	dh $@ --with python3,systemd --buildsystem=pybuild

override_dh_install:
	# Fix global variables
	sed -i "s|%{VERSION}|$(VERSION)|g" debian/tmp/usr/lib/*/dist-packages/SimpleImager/Monitor/*.py

	# Create man pages
	mkdir -p debian/tmp/usr/share/man/man1
	help2man \
		--name 'Simple Imager - Monitor service' \
		--help-option '--help' --version-string $(VERSION) --no-discard-stderr --no-info \
		./usr/sbin/si_monitor | fgrep -v 'invalid option' > debian/tmp/usr/share/man/man1/si_monitor.1

	# Install
	dh_install

	# Remove GIT (empty) diretory placeholders
	find debian -type f -name .gitplaceholder -delete

override_dh_installinit:
	dh_installinit --name=si_monitor --onlyscripts

override_dh_installdocs:
	mkdir -p debian/docs.d
	cp ../README debian/docs.d/README.SimpleImager
	cp ../CREDITS.* debian/docs.d/.
	dh_installdocs --link-doc=simple-imager-monitor

override_dh_clean:
	dh_clean
	rm -rf debian/docs.d
	rm -rf MANIFEST build dist
	find src -name '*.pyc' -delete
	find src -type d -name '__pycache__' -exec rmdir {} \;

debian-source:
	dpkg-buildpackage -I'.git*' -I'*.pyc' -us -uc -S -d

debian-build:
	dpkg-buildpackage -us -uc -b

debian-clean:
	dpkg-buildpackage -T clean

